#header {
    background: #1abc9c;
    position: relative;
}
li{line-height:20px}
.header {
    top: 0;
    width: 100%;
    z-index: 999;
}
.container-inner {
    max-width: 1226px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.yusi-logo {
    display: block;
    text-align: center;
}
.yusi-logo h1 {
    display: inline-block;
    padding: 30px 0 20px 0;
    cursor: pointer;
    font-family: 'Handlee',"åŽæ–‡è¡Œæ¥·","Microsoft Yahei",arial,sans-serif;
    font-weight: 100;
}
.navbar {
    height: 52px;
    background-color: #4a4a4a;
    opacity: .9;
    clear: both;
}
.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    max-width: 1226px;
}
.nav {
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
}
.navbar .nav>li {
    position: relative;
    float: left;
    margin-right: 1px;
    display: block;
    min-width: 75px;
    width: auto;
}
.navbar .nav li a {
    padding: 16px 20px;
    color: #fff;
}
.navbar .nav li:hover a, .navbar .nav li.current-menu-item a, .navbar .nav li.current-menu-parent a, .navbar .nav li.current_page_item a, .navbar .nav li.current-post-ancestor a {
    background-color: #16a085;
}
.navbar .nav li.current-menu-item a, .navbar .nav li.current-menu-parent a, .navbar .nav li.current_page_item a, .navbar .nav li.current-post-ancestor a {
    color: #fff;
    position: relative;
    z-index: 2;
}
.nav>li>a {
    display: block;
}
.sub-menu {
    min-width: 130px;
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
.navbar .nav li a {
    padding: 16px 20px;
    color: #fff;
}
.foot {
    width: 100%;
    background: #222229;
    font-size: 14px;
    line-height: 140%;
    padding: 40px 0 30px 0;
    color: #c6c6c6;
    text-align: left;
    clear: both;
}
.vessel {
    padding: 0;
    margin: 0 auto;
    position: relative;
}
.foot .vessel {
    width: 1170px;
}
.header *, .header:before, .header:after, .foot *, .foot:before, .foot:after {
    box-sizing: border-box;
}
.row .column-2 {
    width: 16.66666667%;
}
.column-2, .column-3 {
    width: 25%;
    float: left;
    padding: 0 15px;
    position: relative;
}
.nav-head {
    padding: 10px 0 15px 0;
    position: relative;
    color: #fff;
    font-size: 16px;
}
.nav-bar {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav-bar li {
    margin-bottom: 8px;
}
.foot a {
    color: #c6c6c6;
    font-size: 14px;
    text-decoration: none;
}
.foot .row {
    display: block;
}
.row {
    margin: 0 -15px 20px -15px;
}
.column-3 .icon-phone, .icon-mail, .icon-qq, .icon-service, .icon-wechat, .icon-weibo, .icon-linkedin {
    width: 16px;
    height: 18px;
    background-position: 0 0;
    margin-right: 10px;
}
.column-3 .icon-mail {
    background-position: -21px 0;
}
.column-3 .icon-service {
    background-position: -441px -2px;
}
.foot a {
    color: #c6c6c6;
    font-size: 14px;
    text-decoration: none;
}
#footer-qq .norm {
    margin: 0 6px;
}
.foot .norm {
    font-size: 10px;
    color: #676767;
    margin: 0 6px;
    position: relative;
    top: -2px;
    vertical-align: middle;
}
.column-3 .icon-wechat {
    margin-right: 8px;
    width: 18px;
    background-position: -161px -22px;
}
.wechat-txt {
    position: relative;
    cursor: pointer;
}
.wechat-txt .nav-level {
    display: none;
    position: absolute;
    top: 20px;
    left: -55px;
    background: #fff;
    text-align: center;
    z-index: 4;
}
.column-3 .icon-weibo {
    margin-left: 22px;
    background-position: -184px -22px;
}
.column-3 .icon-linkedin {
    margin-left: 22px;
    background-position: -204px -21px;
}
.footerCopy, .footerCopy a {
    font-size: 12px;
}
.lan-cn, .lan-en, .lan-ms, .lan-ts, .lan-id, .lan-hk, .lan-vn, .icon-mobile, .icon-nameIcon, .icon-loginOut, .icon-phone, .icon-mail, .icon-ios, .icon-android, .icon-webcode01, .icon-webcode02, .icon-webcode03, .icon-weixin, .icon-qq, .icon-service, .icon-wechat, .icon-weibo, .icon-linkedin {
    width: 16px;
    height: 16px;
    display: inline-block;
    zoom: 1;
    line-height: 0;
    font-size: 0;
    margin-right: 5px;
    background: url(../images/header.png) -1px -25px no-repeat;
    vertical-align: middle;
}
.foot .footlink {
    height: 38px;
    margin-top: 10px;
    text-align: right;
}
.footerCopy .copyright {
    padding-right: 20px;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    float: left;
    text-align: left;
}
.foot .footlink .footlink-img {
    margin: 0 10px;
}
.foot .footlink img {
    height: 28px;
    vertical-align: middle;
}
.footerCopy {
    padding: 10px 0 20px 0;
    position: relative;
    clear: both;
}
.footsidebar {
    position: relative;
}
.sidebar {
    width: 42px;
    position: fixed;
    background: #22252a;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 1000;
    font-size: 12px;
}
.sidebar-content {
    padding-top: 150px;
}
.sidebar-content .sidbar-link-li {
    height: 62px;
    width: 100%;
}
.sidebar-content .sidbar-link-li .sidbar-link-li-a {
    display: block;
    width: 100%;
    padding-top: 12px;
    height: 38px;
}
.title_i {
    background: url(../images/footer_icon.png) no-repeat -77px -20px;
    display: block;
    width: 18px;
    height: 20px;
    margin: 0 auto;
}
.sidbar-link .title span {
    text-align: center;
    display: block;
    color: #e50012;
    font-size: 12px;
    line-height: 12px;
    padding-top: 6px;
}

.sidebar-ul-tit {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1001
}

.sidebar-ul-tit-li {
	padding: 18px 0;
	width: 42px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	display: none;
	background: #22252a
}

.sidebar-ul-tit-li:hover {
	background: #e50012
}

.sidebar-ul-tit-li i {
	background: url(../images/footer_icon.png) no-repeat 0 -90px;
	display: block;
	width: 16px;
	height: 10px;
	margin: 0 auto
}

.sidebar-ul-tit-li p {
	display: block;
	font-size: 14px;
	line-height: 14px;
	margin-top: 8px
}

.sidebar-ul-tit-li2 {
	width: 42px;
	height: 29px;
	padding-top: 13px;
	cursor: pointer
}

.sidebar-ul-tit-li2.on {
	background: url(../images/footer_icon.png) no-repeat -108px -58px;
	display: block;
	width: 42px;
	height: 42px;
	padding-top: 0
}

.sidebar-ul-tit-li2:hover {
	background: #e50012
}

.sidebar-ul-tit-li2.on i {
	background: url(../images/footer_icon.png) no-repeat -108px -58px;
	display: block;
	width: 42px;
	height: 42px
}

.sidebar-ul-tit-li2 i {
	background: url(../images/footer_icon.png) no-repeat -16px -84px;
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto
}

.sidbar-link .sidbar-help:hover {
	background: #373737
}
.foot_qq_i {
    background: url(../images/footer_icon.png) no-repeat -42px -20px;
    display: block;
    width: 17px;
    height: 20px;
    margin: 0 auto;
}
.sidbar-link-span {
    text-align: center;
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    padding-top: 6px;
}
.footphone_a {
    position: relative;
}
.sidebar-content .sidbar-link-li .sidbar-link-li-a {
    display: block;
    width: 100%;
    padding-top: 12px;
    height: 38px;
}
.foot_qq_phone {
    background: url(../images/footer_icon.png) no-repeat -50px 0;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.sidbar-link-span {
    text-align: center;
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    padding-top: 6px;
}
.footfunva {
    position: absolute;
    right: 120px;
    top: 0;
    width: 249px;
    height: 60px;
    background: #fff;
    border: 1px solid #e50012;
    border-right: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}
.footfunva-dl dt {
    background: url(../images/footer_icon.png) no-repeat -95px 0;
    width: 44px;
    height: 44px;
    float: left;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 10px;
}
.footfunva-dl dd {
    float: left;
    width: 187px;
}
.footfunva-dl dd p {
    display: block;
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
    color: #666;
    margin-bottom: 5px;
}
.footfunva-dl dd em {
    font-size: 24px;
    line-height: 24px;
    color: #e50012;
}
.footmobe {
    background: url(../images/footer_icon.png) no-repeat 0 0;
    display: block;
    width: 20px;
    height: 15px;
    margin: 0 auto;
}
.sidbar-link-span {
    text-align: center;
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    padding-top: 6px;
}
.foottabe {
    background: url(../images/footer_icon.png) no-repeat -32px 0;
    display: block;
    width: 18px;
    height: 20px;
    margin: 0 auto;
}
.sidbar-link .shoppingindex {
    height: 82px;
    width: 42px;
}
.shoppingindex_i {
    background: url(../images/footer_icon.png) no-repeat -20px -20px;
    width: 22px;
    height: 20px;
    display: block;
    margin: 0 auto;
}
.shoppingindex .shoppingindex-em {
    font-size: 12px;
    line-height: 12px;
    color: #e50012;
    background: #fff;
    padding: 1px 4px;
    min-width: 14px;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    zoom: 1;
    margin-top: 9px;
    margin-left: 10px;
}
.sidebar-content .sidbar-link-li {
    height: 62px;
    width: 100%;
}
.sidebar-ul-tit {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1001;
}
.sidebar-ul-tit-li {
    padding: 18px 0;
    width: 42px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: none;
    background: #22252a;
}
.sidebar-ul-tit-li i {
    background: url(../images/footer_icon.png) no-repeat 0 -90px;
    display: block;
    width: 16px;
    height: 10px;
    margin: 0 auto;
}
.sidebar-ul-tit-li p {
    display: block;
    font-size: 14px;
    line-height: 14px;
    margin-top: 8px;
}
.w1200{
  width: 1200px;
  margin: 0 auto;
}
.sidebar-ul-tit-li2 {
    width: 42px;
    height: 29px;
    padding-top: 13px;
    cursor: pointer;
}
.sidebar-ul-tit-li2 i {
    background: url(../images/footer_icon.png) no-repeat -16px -84px;
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto;
}
.pfoote {
    width: 24px;
    display: block;
    margin: 0 auto;
    color: #fff;
    padding-top: 4px;
}
