.slideBox{
  width: 100%;
  height: 408px;
}
.slideBox{
  background: url(../images/index_bg1.jpg) center no-repeat;
  height: 408px;
}
.advantage dl{
	padding: 20px 0;
	width: 100%;
	height: 150px;
	background-color: #fff;
	text-align: center;
}
.advantage dt,.advantage dd{
	float: left;
	position: relative;
}
.advantage dt{
	margin-right: 30px;
	padding: 20px 30px;
	width: 300px;
	height: 110px;
	border-right: 1px solid #e3e2e2;
	text-align: right;
}
.advantage dt .icon{
	position: absolute;
	left: 20px;
	top: 0;
	width: 120px;
	height: 110px;
	background-position: 0 -50px;
}
.advantage dt h2{
	margin: 0;
	font-size: 24px;
	line-height: 36px;
	color: #555;
}
.advantage dt h2 span{
	font-weight: bold;
	color: #e65a46;
}
.advantage dd{
	padding: 32px 0 30px 100px;
	width: 280px;
	text-align: left;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.advantage dd:hover{
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}
.advantage dd h4{
	margin: 0 0 10px;
	font-size: 18px;
	color: #555;
}
.advantage dd p{
	font-size: 14px;
	color: #999;
}
.advantage dd span{
	position: absolute;
	left: 0;
	top: 10px;
	width: 58px;
	height: 58px;
}
.advantage dd .icon{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -14px 0 0 -13px;
	width: 58px;
	height: 58px;
}
.advantage .item1 .icon{
	background-position:-129px -92px;
}
.advantage .item2 .icon{
	background-position: -197px -92px;
}
.advantage .item3 .icon{
	background-position: -265px -92px;
}

.advantageMain { position:relative; height:150px; overflow:hidden;}
.advantageItem { position:absolute; left:0; top:0; width:100%; height:100%;}
.advantageItem01 { z-index:2; opacity:1;}
.advantageMain_btn { position:absolute; z-index:9; right:28px; top:15px; font-size:0;}
.advantageMain_btn li { display:inline-block; margin-left:5px;}
.advantageMain_btn li a { display:block; width:20px; height:3px; background-color:#bbbbbb;}
.advantageMain_btn .active a { background-color:#5d8ecf;}
.advantageFm { position:absolute; left:20px; top:0;}
.advantage .dd02 { width:280px; height:100%; padding-left:0;}
.advantage .dd02 a { width:210px; height:100%;}
.advantage .dd02_ittle { display:table-cell; width:20%; font-size:34px; color:#bbbbbb; vertical-align:middle; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;}
.advantage .dd02_content { display:table-cell; width:80%; padding:0 10px; vertical-align:middle;}
.advantage .dd02_content_t { font-size:18px; color:#555;}
.advantage .dd02_content_b { font-size:14px; color:#f76f1d; margin-top:6px;}
.advantage .dd02 a:hover .dd02_ittle { color:#666;}

.forum_list{
	width: 960px;
	float: left;
}
.forum_list ul {
	margin-top: 5px
}
.forum_list li {
	border: 1px solid #fff;
	margin-bottom: 10px;
	padding: 15px 15px 10px;
	box-shadow: #e7e7e7 0 0 5px;
	background: #fff;
	display: block;
	transition: opacity .3s ease-in-out:
}

.forum_list li.stick {
	background: #fffdea
}

.forum_list li:hover {
	border: 1px solid #ffc7b4;
	box-shadow: #ffac7f 0 0 5px
}
.forum_list .avatar {
    margin-right: 15px;
    float: left;
}
.forum_list .avatar img {
    width: 50px;
    max-height: 50px;
    border-radius: 25px;
}
.forum_list .common {
    width: 860px;
    display: inline-block;
}
.forum_list .userinfo {
    width: 210px;
    margin-top: 5px;
    float: right;
    text-align: right;
}
.forum_list .userinfo a {
    color: #999;
    float: right;
}
.forum_list .userinfo a i {
    margin-left: 5px;
    color: #5b9ad9;
}
.forum_list .subject {
    width: 650px;
    margin: 0 0 5px;
    text-indent: -8px;
    display: inline-block;
}
.forum_list .subject a:visited {
    color: #999;
}
.y {
    float: right;
}
.xst {
    font-size: 16px;
    font-family: microsoft yahei;
}
.forum_list .subject a:visited {
    color: #999;
}
.forum_list .showhide {
    margin: 5px 0 0;
}
.showhide {
    width: 12px;
    height: 12px;
    background: url(http://www.bdwork.com/static/image/common/close.gif) no-repeat 0 0;
    text-indent: -999em;
    cursor: pointer;
    overflow: hidden;
    margin: 5px 5px 0px 5px;
}
.forum_list .common span.dateline {
    margin-top: 5px;
    float: right;
    color: #999;
}
.orderby {
    display: inline-block;
}
.orderby a:first-child {
    border-radius: 3px 0 0 0;
}
.orderby a:nth-child(n+2) {
    margin-left: -1px;
}
.orderby a {
    padding: 0 20px;
    float: left;
    border: 1px solid #e7e7e7;
    background: #fff;
    color: #666;
    line-height: 35px;
    display: inline-block;
}
.orderby a.current {
    border: 1px solid #e85220;
    background: #e85220;
    color: #fff;
}
.orderby .showmenu {
    margin: 5px;
    padding: 0 10px;
    float: left;
    background: none;
    color: #a9a9a9;
    line-height: 25px;
    display: inline-block;
}
.orderby .showmenu b {
    float: left;
    font-weight: normal;
}


style_2_common.css?cLo:1
.orderby .showmenu a.xw1 {
    border: 1px solid #ff835f;
    background: #ff835f;
    color: #fff;
    font-weight: normal;
}
.orderby .showmenu a {
    padding: 0 10px;
    text-align: center;
    line-height: 25px;
}
.orderby a:nth-child(n+2) {
    margin-left: -1px;
}
#autopbn {
    display: block;
    margin-bottom: 10px;
    border: 1px solid rgb(194,213,227);
    border-radius: 3px;
    text-align: center;
}
#autopbn {
    margin-bottom: 0;
    border-radius: 0;
    border: 1px solid #fff;
    box-shadow: #e7e7e7 0 0 5px;
    background: #fff;
    line-height: 60px;
    font-size: 14px;
}
.pgs {
    margin: 10px 0;
    font-size: 14px;
}
#threadlist .pgs {
    margin: 0;
    padding: 15px;
}
.cl {
    zoom: 1;
}
.bw0 {
    background: transparent;
}
.pg, .pgb {
    line-height: 26px;
}
.pg strong {
    background-color: #e85220;
    border-color: #e85220;
}
.pg a, .pg strong, .pgb a, .pg label {
    float: left;
    display: inline;
    margin-left: 4px;
    padding: 0 8px;
    height: 26px;
    border: 1px solid;
    border-color: #C2D5E3;
    background-color: #FFF;
    background-repeat: no-repeat;
    color: #333;
    overflow: hidden;
    text-decoration: none;
}
.bmn, .pg a, .pgb a {
    border-color: #e7e7e7;
}
.pg a, .pg strong, .pgb a, .pg label, .pgb a {
    padding: 4px 12px;
    color: #666;
}
.pg a.nxt {
    padding: 4px 20px 4px 10px;
}
.pg a.nxt {
    padding-right: 25px;
    background-image: url(http://www.bdwork.com/static/image/common/arw_r.gif);
    background-position: 90% 50%;
}










