/*Version:             1.0.0(2013-01-09)*/
html,body{-webkit-text-size-adjust:none;}
body,dl,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p{padding:0; margin:0;}
body{width:100%; margin:auto; font:12px/150%  Arial,"Lucida Grande", Verdana, Lucida, Helvetica, sans-serif; color:#333; background:#eeeded; text-align:left; position:relative;}
fieldset,img {border:none;}
li {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-weight:normal; font-size:100%;}
tr,td,select,input{font:12px/150%  Arial,"Lucida Grande",Verdana, Helvetica, sans-serif; color:#333;}
label,img,input,textarea,select,button {vertical-align:middle;}
input.text, textarea {border:1px solid #ccc;}
button{overflow:visible;cursor:pointer;}

a{color:#333;text-decoration:none; outline:none;}
a:hover{color:#f60;text-decoration:underline;}

.clear{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}

.systemAlert{color:#f30;font-weight:bold;}
a.systemAlert{color:#f30;}

.row{overflow:auto;zoom:1;}
.nav{ padding:5px 10px;}
.nav a{ text-decoration:underline;}
.content{ padding:10px;}

/* __header----------------------------*/
#header { width:988px; margin:0 auto; }
.headerBox{ overflow:auto;zoom:1;}
.logo{ float:left;}
.logo a { text-indent:-9999px; display:block; width:260px; height:76px; background: url(../images/logo.gif) no-repeat center center; }

.topMenu{ text-align:center; padding-top:50px;}
.topMenu li{ display:inline; padding:10px 5px;}
.topMenu li a{ font-size:12px; font-weight:bold;}
.topMenu .menuDiv{ background:url(../images/menuDiv.gif) no-repeat center bottom; width:2px; overflow:hidden;}

.banner{ margin-bottom:10px;}

/* __pageBody----------------------------*/
#pageBody { width:988px; margin:0 auto; overflow:auto; zoom:1; background:url(../images/pageBg.gif) repeat-y; }

/* __sideBar----------------------------*/
#sideBar { width:250px; float:left; overflow:hidden; }
.sideBox{ margin-bottom:10px; background:#fff;}
.sideBox h3{ background:url(../images/boxTop.gif) repeat-x; font-size:14px; font-weight:bold; padding:5px 10px;}
.sideBox h3 .more{ float:right; padding:5px 0;}

.sideMenu{ padding:8px 10px;}
.sideMenu li a{ display:block;padding:0px 20px 0px 20px; line-height:24px; _height:24px; background:url(../images/icon01.gif) no-repeat 10px 8px; }
.sideMenu li a:hover{ background:#eee url(../images/icon01.gif) no-repeat 10px 8px; text-decoration:none;}
.sideMenu li li{ border:none;}
.sideMenu li li a{ font-weight:normal; background:url(../images/icon02.gif) no-repeat 18px 12px; padding:3px 10px 3px 25px;}
.sideMenu li li a:hover{ color:#f60; background:#eee url(../images/icon02.gif) no-repeat 18px 12px; padding:3px 10px 3px 25px; }

.sideContact{ padding:0 10px;}
.sideContact li{ padding:5px 0;}
.sideContact .sideTel{ background:url(../images/sideTel.gif) no-repeat 0 5px; padding-left:25px;}
.sideContact .sideFax{ background:url(../images/sideFax.gif) no-repeat 0 5px; padding-left:25px;}
.sideContact .sideEmail{ background:url(../images/sideMail.gif) no-repeat 0 5px; padding-left:25px;}
.sideContact .sideMSN{ background:url(../images/sideMSN.gif) no-repeat 0 5px; padding-left:25px;}
.sideContact .sideSkype{ background:url(../images/sideSkype.gif) no-repeat 0 5px; padding-left:25px;}

/* __mainBody----------------------------*/
#mainBody { width:730px; float:right; overflow:hidden; }
.mainBox{ margin-bottom:10px; background:#fff;}
.mainBox h3{ background:url(../images/boxTop.gif) repeat-x; font-size:14px; font-weight:bold; padding:5px 10px;}
.mainBox h3 .more{ float:right; padding:5px 0;}

.aboutBox{ float:left; width:480px;}
.aboutBox .content{ padding:16px 10px;}
.contactBox{ float:right; width:240px;}

#demo20{overflow:hidden;height:200px;width:700px; margin:0 auto;}

.productsBox{ float:left; width:155px; margin:10px; border:1px solid #eeeded; text-align:center; overflow:hidden;}
.productsBox .proImg{ margin:0 auto; text-align:center; display: table-cell;vertical-align:middle; *display: block; *font-size: 140px; *font-family:Arial; width:155px; height:155px; }
.productsBox .proImg img{vertical-align:middle;}
.productsBox h4{ padding:5px 0; height:16px; overflow:hidden; background:url(../images/boxTop.gif) repeat-x;}
.productsBox .item{ color:#999; }

.productBox{ padding:10px;}
.productBox h4{ font-size:14px; margin:10px 0; color:#a9b070; font-weight:bold;}
.productBox .proImgBox{float:left; width:350px;}
.productBox .proImg{ text-align:center; width:350px; height:100%; display:block; border:1px solid #eee;background:#fff; margin-bottom:10px;}
.smallBox{ clear:both; overflow:auto;zoom:1;}
.smallBox .smallImg{ float:left;display: table-cell;vertical-align:middle; *display: block; *font-size: 105px; *font-family:Arial; width:120px; height:120px; border:1px dotted #999; margin:5px 10px 5px 0; background:#fff;}
.smallBox .smallImg img{vertical-align:middle;}
.click{ text-align:center;}
.click a,.click a:visited{color:#5faae5;}

.productBox .proInfo{ float:left; padding-left:20px; width:300px;}
.productBox .item,.productBox .size,.productBox .price{ border-bottom:1px dotted #ddd; padding:8px 0; font-size:12px;}
.productBox .price strong{ color:#333;}
.productBox .price{font-weight:bold; color:#C12924;}
.productBox .addCart{padding:20px 0;}
.productBox .prev{ text-align:center; padding:10px;}
.productBox .prev a{ padding:0 5px;}

.proDetail{ padding:10px;}
.proDetail h4{font-size:13px; border-bottom:1px solid #ddd; padding:5px 0; margin:5px 0; color:#a9b070; font-weight:bold;}

/* __footer----------------------------*/
#footer { width:988px; margin:0 auto; text-align:center; }
.footMenu{ padding:20px 0 0; background:url(../images/footBg.gif) repeat-x; }
.footMenu li{ display:inline; padding:0 2px; font-weight:bold; }
.copyright{ padding:10px 0px; }

/* Nav Pages */
.navpages{padding:5px; }
.navpages ul{text-align:right;margin:0;padding:0}
.navpages li{list-style:none;display:inline; width:14px;margin-right:2px;}
.navpages li.thepage{margin-right:5px;color: #333;padding:1px 4px; width:auto}
.navpages a{text-decoration:none;color:#333;padding:1px 4px;border:1px solid #eee;}
.navpages a:hover{border:1px solid #000;color:#fff;background:#333; text-decoration:none}
.navpages li.curr_linkpage{border:1px solid #000;color:#fff;padding:1px 4px;background:#333;}