/* ¿¡»ÀÕºø‚ À—ºØ’˚¿Ì www.lanrentuku.com */

body { margin:0; background:#888; }
h1 { text-align:center; color:#fff; color:#ff3; margin:0; font-size:18px; line-height:44px; font-family:"Œ¢»Ì—≈∫⁄"; }
h1 a { color:#9f0; text-decoration:none; border-bottom:1px dotted #9f0; }
h1 a:hover { color:#fff; border-bottom:1px solid #fff;}
#box { height:550px; position:absolute; top:20px; overflow:hidden; }
#box ul { margin:0; padding-left:0; position:absolute; top:0; left:0; height:550px; z-index:1; }
#box ul li { list-style:none; float:left; }
#box p { line-height:30px; position:absolute; bottom:20px; left:0; width:100%; z-index:2; text-align:center; margin:0; }
#box p a { display:inline-block; height:30px; padding:0 10px; background:#000; font-size:14px; font-family:arial; line-height:30px; color:#fff; text-decoration:none; filter:alpha(opacity:80); opacity:0.8; margin-right:1px; }
#box p .active { background:yellow; color:#000; font-weight:bold; }
#box img { height:550px; }