<include file="public@header"/>
<link rel="stylesheet" href="__STATIC__/js/elem-ui/lib-1.4.4/index.css" />
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li><a href="{:url('wechat/index')}">微信公众号列表</a></li>
        <li class="active" ><a href="{:url('wechat/add')}">添加微信公众号</a></li>
    </ul>
    <form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('wechat/add')}">
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>公众号名称:</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" name="wechat_name" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>微信公众号:</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" name="wechat_account" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>微信分类:</label>
            <div class="col-md-6 col-sm-10">
                <select name="wechat_category" class="form-control">
                    <option value="0">顶级分类</option>
                    {$option}
                </select>
            </div>
        </div>
        <div class="form-group tag-box">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>自定义标签:</label>
            <div class="col-md-6 col-sm-10">
                <input id="new_tag_name" type="hidden" class="form-control" name="new_tag_name" v-model="newTags">
                <el-tag
                        :key="tag"
                        v-for="tag in currentTags"
                        :closable="true"
                        :close-transition="false"
                        @close="handleClose(tag)"
                >
                    {{tag}}
                </el-tag>
                <el-input
                        class="input-new-tag"
                        v-if="inputVisible"
                        v-model="inputValue"
                        ref="saveTagInput"
                        size="mini"
                        @keyup.enter.native="handleInputConfirm"
                        @blur="handleInputConfirm"
                >
                </el-input>
                <el-button v-else class="button-new-tag" size="small" @click="showInput">+ New Tag</el-button>
                <p class="help-block">微信标签,一次添加一个，可添加多个标签</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>点赞数:</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" name="like" value="0">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>关注度:</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" name="fans" value="0">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>客服QQ:</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" name="qq" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>地区:</label>
            <div class="col-md-6 col-sm-10">
                {:widget('region/region_select')}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>详细地址:</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" name="address" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>是否认证:</label>
            <div class="col-md-6 col-sm-10">
                <select name="is_v" class="form-control">
                    <option value="1" >是</option>
                    <option value="0" >否</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>公众号简介:</label>
            <div class="col-md-6 col-sm-10">
                <script type="text/plain" id="describe" name="describe"></script>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary js-ajax-submit">{:lang("SAVE")}</button>
            <a class="btn btn-default" href="{:url('push/index')}">返回</a>
        </div>
    </form>

</div>
<script type="text/javascript" src="__STATIC__/js/admin.js"></script>
<script type="text/javascript">
    //编辑器路径定义
    var editorURL = GV.WEB_ROOT;
</script>
<script type="text/javascript" src="__STATIC__/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/elem-ui/vue-2.4.4.js"></script>
<script type="text/javascript" src="__STATIC__/js/elem-ui/lib-1.4.4/index.js"></script>
<script type="text/javascript">
    $(function () {

        var editor_describe = new baidu.editor.ui.Editor();
        editor_describe.render('describe');
        try {
            editor_describe.sync();
        } catch (err) {
        }

        new Vue({
            el: '.tag-box',
            data: function () {
                return {
                    currentTagIds: [],
                    delTagIds: [],
                    currentTags: [],
                    newTags: [],
                    inputVisible: false,
                    inputValue: ''
                }
            },
            mounted: function () {

            },
            methods:{
                handleClose:function(tag) {
                    var index = this.currentTags.indexOf(tag);
                    var deleteTagName = this.currentTags[index];
                    if($.inArray(deleteTagName, this.newTags) > -1){
                        this.newTags.splice($.inArray(deleteTagName,this.newTags),1);
                    }
                    this.currentTags.splice(index, 1);
                },
                showInput:function() {
                    this.inputVisible = true;
                    this.$nextTick(_ => {
                        this.$refs.saveTagInput.$refs.input.focus();
                });
                },
                handleInputConfirm:function() {
                    let inputValue = this.inputValue;
                    if (inputValue) {
                        if($.inArray(inputValue,this.currentTags)<0){
                            this.currentTags.push(inputValue);
                            this.newTags.push(inputValue);
                        }else{
                            alert('请不要添加重复的标签');
                            return false;
                        }
                    }
                    this.inputVisible = false;
                    this.inputValue = '';
                }
            }
        });
    });
</script>
</body>
</html>